/* Type */

body {
	background-color: #282828;
	color: black;
	font-family: 'Big Shoulders Display', cursive;
	line-height: 2;
	max-width: 30em; 
    font-size: 2em;
}
.new-color {
	color: white;
}
.other-font {
	font-family: serif;
	color:grey;
}
.circle{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: pink;
	position: absolute;
    z-index: -1;
    left: 0em;
    top: 2.5em;
}
h1{
font-size: 3em;
left: 0em;
}
.position{
	font-weight: 400;
	font-size:1em;
	color:pink;
	position:absolute;
	top:1em;
	transform: rotate(-45deg);
	transform-origin: top;
	animation-name:color2;
  	animation-duration: 1s;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}
.position2{
	font-weight: 10em
	font-size:22em;
	color:black;
	position:;
	top:1em;
	transform: rotate(45deg);
}
.position3{
	font-weight: 3em
	font-size:10em;
	color:black;
	position: all;
	transform: rotate(80deg);
	animation-name:color;
  	animation-duration: 3s;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}
/* The animation code */
@keyframes color {
  from {color: white;}
  to {color: black;}
  }

  /* The animation code */
@keyframes color2 {
  from {color: white;}
  to {color: pink;}
  }
